@model Örebro_Universitet_Kommunikation.Models.CreateTempEventViewModel
@{
    ViewBag.Title = "CreateTempEvent";
}

<h2>CreateTempEvent</h2>
@using (Html.BeginForm("CreateTempEvent", "Calendar", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Suggestion1, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Suggestion1, new { @class = "form-control" })
        </div>
        <div class="col-md-10">
            @Html.EditorFor(m => m.Suggestion2, new { @class = "form-control" })
        </div>
        <div class="col-md-10">
            @Html.EditorFor(m => m.Suggestion3, new { @class = "form-control" })
        </div>
        <div class="col-md-10">
            @Html.EditorFor(m => m.Suggestion4, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.ListBoxFor(m => m.ListToSend, new SelectList(Model.NewList, "Value", "Text"))
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Skapa" />
        </div>
    </div>
}
