@model Örebro_Universitet_Kommunikation.Models.ShowResultEventViewModel

<h2>Resultat av mötesomröstning</h2>
@Model.Title <br />
@Model.Description <br />
@if (Model.S1Name != null) {
    <p>@Model.S1Name (@Model.S1Result)</p>
}
@if (Model.S2Name != null) {
    <p>@Model.S2Name (@Model.S2Result)</p>
}
@if (Model.S3Name != null) {
    <p>@Model.S3Name (@Model.S3Result)</p>
}
@if (Model.S4Name != null) {
    <p>@Model.S4Name (@Model.S4Result)</p>
}

@Html.ActionLink("Skapa mötet", "Create", "Calendar", new { EventId = Model.EventId }, new { @class = "btn btn-primary" })