@model Örebro_Universitet_Kommunikation.Models.ShowResultEventViewModel

<h1 class="display-4">@Model.Title</h1>
<p class="lead">@Model.Description</p>
<p>@Model.Votes har röstat av @Model.Invites inbjudna.</p>
    <table class="table-hover table">
        <thead>
            <tr>
                <th class="col">
                    Förslag:
                </th>
                <th class="col">
                    Röster:
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.S1Name != null) {
                <tr>
                    <td>@Model.S1Name</td>
                    <td>@Model.S1Procent% (@Model.S1Result)</td>
                </tr>
            }
            @if (Model.S2Name != null) {
                <tr>
                    <td>@Model.S2Name</td>
                    <td>@Model.S2Procent% (@Model.S2Result)</td>
                </tr>
            }
            @if (Model.S3Name != null) {
                <tr>
                    <td>@Model.S3Name</td>
                    <td>@Model.S3Procent% (@Model.S3Result)</td>
                </tr>
            }
            @if (Model.S4Name != null) {
                <tr>
                    <td>@Model.S4Name</td>
                    <td>@Model.S4Procent% (@Model.S4Result)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Skapa mötet", "CreateEvent", "Calendar", new { EventId = Model.EventId }, new { @class = "btn btn-primary" })
