@model Örebro_Universitet_Kommunikation.Models.InformalBlogCommentsViewModel


@using (Html.BeginForm("WriteInformalComment", "InformalBlog", FormMethod.Post)) {
    @Html.AntiForgeryToken()
<div class="jumbotron">
    <h1 class"display-4">@Model.Title</h1>
    <h6>@Model.CreatorFirstName @Model.CreatorLastName <i>(@Model.CreaterMail)</i></h6>
    <p>@Model.Content</p>
    @if (Model.AttachedFile != null)
    {
        <img src="@Model.AttachedFile" style="width:auto; max-height:150px " class="img-thumbnail" />


    }
    <hr />
    <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i>@Model.Date</span></li>
        <li>|</li>
        <li><span><i class="glyphicon glyphicon-folder-open"></i> @Model.Category </span></li>
        <li>|</li>
     
    </ul>
</div>
    if (Model.InformalComments.Any()) {
        foreach (var c in Model.InformalComments) {
            <div class="well">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">@c.FirstName @c.LastName (@c.Email)</h4>
                        <p>@c.Content</p>
                        <span><i class="glyphicon glyphicon-calendar"></i> @c.Time</span>
                        @if (c.CanDelete) {

                            <span> | <i class="glyphicon glyphicon-remove"></i> @Html.ActionLink("Ta bort", "DeleteInformalComment", "InformalBlog", new { EntryId = c.Id, BlogId = Model.BlogId }, null) </span>
                        }
                    </div>
                </div>
            </div>
        }
    }
    <div class="form-group">
        @Html.TextAreaFor(model => model.CommentContent, new { @class = "form-control", @rows = "3", required = "required" })
        @Html.ValidationMessageFor(model => model.CommentContent, "", new { @class = "text-danger" })
        @Html.HiddenFor(b => b.BlogId)
    </div>
    <div class="form-group">
        <input type="submit" value="Skapa kommentar" class="btn btn-success" />
    </div>
}
