
@model Örebro_Universitet_Kommunikation.Models.EditEducationViewModel

@{
    ViewBag.Title = "EditEntry";
}

<h2>EditEntry</h2>

@using (Html.BeginForm("Edit", "EducationBlog", new { Id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EducationBlogEntry</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.ProjectId)
        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.DropDownListFor(m => m.Category, new SelectList(Model.CategoryItems, "Category"), new { @class = "form-control" })
                </div>
            </div>*@


        @if (Model.AttachedFile != null)
        {
            <div class="form-group">
                <p>Bifogad fil: <a href="@Model.AttachedFile" target="_blank"> @Model.AttachedFile.Replace("/Content/Files/", "") </a></p>
                @Html.HiddenFor(model => model.AttachedFile)
            </div>
        }




        <input type="file" name="File">

        @if (Model.AttachedFile != null)
        {
            @Html.ActionLink("Radera fil", "DeleteLink", "EducationBlog", new { EntryId = Model.Id }, null)
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka", "Index", "EducationBlog")
</div>


