@model Örebro_Universitet_Kommunikation.Models.EditUserViewModel

@{
    ViewBag.Title = "EditUser";
}

<h2>Redigera användarkonto</h2>

@using (Html.BeginForm("EditUser", "AdminTool", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h4>Redigera ett användarkonto.</h4>
    <hr />

    <div class="col-md-10">
        @{SelectList selectlist = new SelectList(Model.UserList, "Id", "Email");}
        @Html.Label("Välj en användare")
        @Html.DropDownListFor(m => m.UserId, selectlist, new { onchange="ShowUserForm()", @id = "userlist", @class = "form-control" })
    </div>
    <br />
    <br />
    <div id="userForm" class="form-group">

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        <script>
            $("#userlist").prepend("<option value='' disabled selected>Välj en användare...</option>");
            function ShowUserForm() {
                var userId = $("#userlist").val();
            $.get('@Url.Action("_EditUserPartial", "AdminTool")',{ userId: userId }, function (response) {
				$("#userForm").html(response);
                });
		    }
        </script>
    }
}

