@model Örebro_Universitet_Kommunikation.Models.EditUserViewModel

@{
    ViewBag.Title = "EditUser";
}

<h2>Redigera användarkonto</h2>

@using (Html.BeginForm("EditUser", "AdminTool", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h4>Redigera ett användarkonto.</h4>
    <hr />

    <div class="col-md-10">
        @{SelectList selectlist = new SelectList(Model.UserList, "Id", "Email");}
        @Html.Label("Välj en användare")
        @Html.DropDownListFor(m => m.UserId, selectlist, new { onchange = "ShowUserForm()", @id = "userlist", @class = "form-control" })
    </div>
    <br />
    <br />
    <br />
    <br />
    if (Model.ErrorMessage == "") {
        <label class="hidden" role="alert">@Model.ErrorMessage</label>
    }
    else if (Model.ErrorMessage.StartsWith("Användare")) {
        <label class="alert alert-success" role="alert">@Model.ErrorMessage</label>
    }
    else {
        <label class="alert alert-danger" role="alert">@Model.ErrorMessage</label>
    }
    var visible = "hidden";
    if (Model.UserId != null) {
        visible = "";
    }
        <div id="userForm" class="form-group @visible">


            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.UserId, new { @class = "hidden" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = Model.Email, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @placeholder = Model.FirstName, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @placeholder = Model.LastName, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = Model.PhoneNumber, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Position, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Position, new { @placeholder = Model.Position, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Administratörsbehörigheter", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(m => m.Admin, "True")&nbsp;@Html.Label("Ja")
                    @Html.RadioButtonFor(m => m.Admin, "False")&nbsp;@Html.Label("Nej")
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Inaktivera användaren", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(m => m.IsInactive, "True")&nbsp;@Html.Label("Ja")
                    @Html.RadioButtonFor(m => m.IsInactive, "False")&nbsp;@Html.Label("Nej")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Spara ändringar" />
                </div>
            </div>
        </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        <script>
            $("#userlist").prepend("<option value='' disabled selected>Välj en användare...</option>");
            function ShowUserForm() {
                var userId = $("#userlist").val();
                window.location.href = '/AdminTool/EditUser?userId=' + userId;
            }
        </script>
    }
}

