@model Örebro_Universitet_Kommunikation.Models.BlockCategoriesViewModel
@{
    ViewBag.Title = "BlockCategories";
}
@using (Html.BeginForm("BlockCategories", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h2>Ändra kategorier att visa i ditt flöde.</h2>
    <p class="lead">Välj en kategori att blockera från ditt flöde.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Formell", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{SelectList selectlist = new SelectList(Model.CategoriesFormal, "CategoryName", "CategoryName");}
                @Html.DropDownList("Välj en kategori", selectlist, new { @id = "FormalCat", @class = "form-control" })
                <br />
                <br />
                <div class="form-group col-md-2">
                    <input type="button" class="btn btn-danger form-control" value="Blockera" onclick="BlockCatFormal()" />
                </div>
                <div class="form-group col-md-2">
                    <input type="button" class="btn btn-success form-control" value="Avblockera" onclick="UnBlockCatFormal()" />
                </div>


            </div>
            
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Blockerade från formell", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Välj en kategori", new SelectList(Model.BlockedCategoriesFormal, "CategoryName", "CategoryName"), new { @id = "BlockFormalCat", @class = "form-control", @size = 5 })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Informell", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Välj en kategori", new SelectList(Model.CategoriesInformal, "CategoryName", "CategoryName"), new { @id = "InFormalCat", @class = "form-control" })
            <br />
            <br />
            <div class="form-group col-md-2">
                <input type="button" class="btn btn-danger form-control" value="Blockera" onclick="BlockCatInFormal()" />
            </div>
            <div class="form-group col-md-2">
                <input type="button" class="btn btn-success form-control" value="Avblockera" onclick="UnBlockCatInFormal()" />
            </div>


        </div>
        
    </div>
    <div class="form-group">
        @Html.Label("Blockerade från informell", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Välj en kategori", new SelectList(Model.BlockedCategoriesInformal, "CategoryName", "CategoryName"), new { @id = "BlockInFormalCat", @class = "form-control", @size = 5 })
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        <script>
            function BlockCatFormal() {
                var Category = $("#FormalCat").val();
                var CategoryType = 'Formal';
                if (Category != null) {
                    window.location.href = '/Manage/BlockCategory?CategoryType=' + CategoryType + '&Category=' + Category;
                }
                else {
                    alert('Ett val i listan krävs');
                }
            }

            function BlockCatInFormal() {
                var Category = $("#InFormalCat").val();
                var CategoryType = 'Informal';
                if (Category != null) {
                    window.location.href = '/Manage/BlockCategory?CategoryType=' + CategoryType + '&Category=' + Category;
                }
                else {
                    alert('Ett val i listan krävs');
                }
            }

            function UnBlockCatFormal() {
                var Category = $("#BlockFormalCat").val();
                var CategoryType = 'Formal';
                if (Category != null) {
                    window.location.href = '/Manage/UnBlockCategory?CategoryType=' + CategoryType + '&Category=' + Category;
                }
                else {
                    alert('Ett val i listan krävs');
                }
            }

            function UnBlockCatInFormal() {
                var Category = $("#BlockInFormalCat").val();
                var CategoryType = 'Informal';
                if (Category != null) {
                    window.location.href = '/Manage/UnBlockCategory?CategoryType=' + CategoryType + '&Category=' + Category;
                }
                else {
                    alert('Ett val i listan krävs');
                }
            }
        </script>
    }
}
